* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*font-family: 'Grenze Gotisch', cursive;*/

body {
  font-family: "Grenze Gotisch", cursive;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #ffffff;

  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;

  display: flex;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

/*BG*/
.next__BG {
  display: flex;
  justify-content: left;
  z-index: 2;
}

.next__BG__btn {
  font-family: "Grenze Gotisch", cursive;
  font-size: 1rem;
  border: none;
  text-align: center;
  outline: none;
  text-decoration: none;
  opacity: 0.3;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 3px;
}

.next__BG__btn:hover {
  opacity: 0.9;
}

.background__block {
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: transform 0.3s ease-out;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background__item {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: url(./assets/overlay.png);
  background-size: 100% 100%;
  transition: opacity.3s ease-out;
}
/*BG*/
/*погода старт*/
.weather__block {
    z-index: 2;

}
.weather__image {
    z-index: 2;

}
.weather__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}
.weather__logo {
    z-index: 2;

}

/*погода конец*/
.time__block {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.time {
  font-size: 11rem;
  display: grid;
  grid-template-columns: 7rem 3rem 10rem 3rem 10rem;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.date__block {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.date__time {
  font-size: 4.5rem;
  color: #828282;
  margin-top: -3.75rem;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.date__day {
  font-size: 4rem;
  color: #828282;
  margin-top: -2.5rem;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.grerting__block {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.greting__name {
  border: none;
}

.focus__block {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.focus__text {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.focus__today {
  margin-bottom: 0.5rem;
  opacity: 0.6;
  border: none;
}

input {
  font-family: "Grenze Gotisch", cursive;
  border-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  opacity: 0.8;
  width: 160px;
  height: 34px;
  text-align: center;
  font-size: 2rem;
  margin-top: 1px;
}
/* quote block start */
.quote__block {
  display: grid;
  grid-template-columns: 50rem 10rem;
  text-align: justify;
  max-width: 1000px;
  z-index: 2;
}

.quote__content {
  z-index: 2;
  padding: 40px;
}

.quote__text {
  font-size: 1.5rem;
  color: #ffffff;
}

.quote__cite {
  font-size: 1rem;
  color: #828282;
}

.btn {
  font-family: "Grenze Gotisch", cursive;
  font-size: 1rem;
  width: 100px;
  padding: 2px;
  border: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
  text-decoration: none;
  opacity: 0.3;
  margin-top: 47px;
}

.btn:hover {
  opacity: 0.9;
}

/* quote block end */

@media (max-width: 700px) {
  .time {
    grid-template-columns: 0rem 3rem 10rem 3rem 10rem;
    font-size: 6rem;
  }
  .time__date {
    font-size: 1rem;
    margin-top: -30px;
  }
  .date__day {
    font-size: 1rem;
    margin-top: -30px;
  }
  .quote__block {
    max-width: 600px;
    grid-template-columns: 50rem;
  }
}
